<section class="home-hero">
    <!--  -->
    <h1>{{ message }}</h1>

    <!-- render a thumbnail for every movie -->
    <moviethumb v-for="item in allMovies" :movie="item" :key="item.movies_id"></moviethumb>
</section>