<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roku Streaming Service</title>
</head>
<body>
    <main id="app">
        <h1>Using Handlebars is easy!</h1>
        <h3>The following is dynamic, server-side rendered content:</h3>
        <!-- this is where handlebars will inject it's tempalates -->
        <!-- this is like a php include statement -->
        <!-- or a vue template -->
        {{{ body }}}

    </main>
    <script defer type="module" src="scripts/main.js"></script>
</body>
</html>