<div class="container-fluid">
		<div class="row">
			<header class="col-sm-12 fixed-top">
				<img src="images/roku.svg" alt="Roku logo" width="90"><span>FlashBack</span>
				<nav class="float-right">
				<ul>           
					<li><i class="fas fa-user-circle"></i></li>
					<li v-if="isAdmin"><i class="fas fa-cog"></i></li>
					<li @click="logout"><i class="fas fa-power-off"></i></li>					
				</ul>
				</nav>
			</header>
		</div>
</div> <!-- end container fluid -->
